* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}


.app {
  display: flex;
  height: 100%;
}

.container {
  width: 90%;
  margin: auto;
}