* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}


.app {
  display: flex;
  height: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

::-webkit-scrollbar {
  width: .70rem;
  background-color: #f5f5f5;
  border-left: 1px solid #c4bebe;

}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #939393;
}